<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BZTimeCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NotiContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>463A1D841E99D18D0020166A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469101361E992E360020B144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4691014F1E992E360020B144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4691015A1E992E360020B144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
